body{
    margin:0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
}

.content{
    
    border: 3px solid brown;
    width: 100%;
    max-width: 1440px;
    padding-left: 160px;
    padding-right: 160px;
}

#headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width: 800px){
    
    
    .content{
    padding-left: 10px;
    padding-right:10px;
    }

    #headerImage{
        font-size: 15px;
    }

    #headerNavLinks{
        font-size: 10px;
    }
}